/* 消除边距 */
*{
    margin: 0;
    padding: 0;
}

#__nuxt{
    height: auto;
}
#layout{
    height: auto;
}
div{
    display: block;
}
.nav-header {
    min-width: 1200px;
    background-color: #000;
    /* 内边距 */
    padding: 15px 0;
    color: #fff;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.nav{
    background-color: #000;
    /* 设置Flex容器 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 设置不换号 */
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /* 设置缩小比例 */
    -ms-flex-negative: 0;
    flex-shrink: 0;

    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    /* 设置横轴上居中对齐 */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    /* z-index: 1100; */
}

.nav-center{
    align-items: stretch;
    display: flex;

}
.outside-nested-dropdown {
    padding: 0 25px;
    position: relative;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
}

.outside-nested-dropdown a{
    color: #fff;
    font-size: 15px;
    font-family: Arial, "Microsoft Yahe", "微软雅黑";
    text-decoration: none;
}

.outside-nested-dropdown a:hover{
    color: rgb(24, 148, 228);
}

.seasonImg{
    width: 100vw;
    height: 800px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.season-Video{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: PingFangSC-Semibold;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
}
.season-Video video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* .season */
.season-mask{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    cursor: pointer;
}

.season-content{
    max-width: 693px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    /* -webkit-transform: translate(-50%,-50%); */
    transform: translate(-50%,-50%);
}
.content-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}
.content-title .content-desc{
   color: white;
   
}

.joinUS{
    /* position: relative;
    min-width: 186px;
    height: 48px;
    padding: 0 16px;
    display: inline-flex;

    border: none;
    border-radius: 100px;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    background: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center; */

}
