/* 消除边距 */
*{
    margin: 0;
    padding: 0;
}

#__nuxt{
    height: auto;
}
#layout{
    height: auto;
}
div{
    display: block;
}
.nav-header {
    min-width: 1200px;
    background-color: #000;
    /* 内边距 */
    padding: 15px 0;
    color: #fff;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.nav{
    background-color: #000;
    /* 设置Flex容器 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 设置不换号 */
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /* 设置缩小比例 */
    -ms-flex-negative: 0;
    flex-shrink: 0;

    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    /* 设置横轴上居中对齐 */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    /* z-index: 1100; */
}

.nav-center{
    align-items: stretch;
    display: flex;

}
.outside-nested-dropdown {
    padding: 0 25px;
    position: relative;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
}

.outside-nested-dropdown a{
    color: #fff;
    font-size: 15px;
    font-family: Arial, "Microsoft Yahe", "微软雅黑";
    text-decoration: none;
}

.outside-nested-dropdown a:hover{
    color: rgb(24, 148, 228);
}

.seasonImg{
    width: 100vw;
    height: 800px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.season-Video{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: PingFangSC-Semibold;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
}
.season-Video video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* .season */
.season-mask{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    cursor: pointer;
}

.season-content-mask{
    width: 1200px;
    height: 640px;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
}
.season-content{
    max-width: 693px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%,-50%);
}


.content-title {
    position: relative;
    font-size: 21px;
}


.content-title .content-desc{
   color: white;
    
}




.joinUS{
    position: relative;
    min-width: 186px;
    height: 48px;
    padding: 0 16px;
    display: inline-flex;
    margin-top: 3em;
    border: none;
    border-radius: 100px;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    background: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;

}
.timeline {
    height: 2px;
}


.homelist{
    /* margin: .75em auto; */
    margin-top: .75em;
}

.columns{
    min-width: 1200px;
    /* width: 100%; */
    border-bottom: .75em;
    /* -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: 0;
    padding: 0; */
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    flex: basis 1200px;
    justify-content:center;
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;

}
.colums-module1{
    width: 50%;
    height: 50%;
    /* height: 100%; */
    flex-grow: 1;
    max-width: 769px;
    border-right: 2px solid #fff;
    /* background: #000;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; */
    display: block;
    position: relative;
}

.colums-module1 img{
    width: 100%;
    /* height: 100%; */
}

.colums-module2 img{
    width: 100%;
    /* height: 100%; */
}.colums-module3 img{
    width: 100%;
    /* height: 100%; */
}
.colums-module2{
    flex-grow: 1;
    width: 50%;
    height: 50%;
    max-width: 769px;
    border-right: 2px solid #fff;
    /* background: #000;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; */
    display: block;
    position: relative;
}
.colums-module3{
    width: 100%;
    height: 100%;
    flex-grow: 2;
    max-width: 1538px;
    border-right: 2px solid #fff;
    /* background: #000;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover; */
    display: block;
    position: relative;
}


.module-text{
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 35%;
    bottom: 28%;
    transform: translate(-40%,30%);
    display: inline-block;
}

.related-nav{
    height: 4em;
    background-color: rgb(44, 52, 67);
}

.related-nav .title {
    /* min-height: 10em; */
    display: flex;
    height: 11em;
    padding: 0.1em;
    justify-content: center;
}


.title ul{
    display: flex;
    /* height: 2.9em; */
    /* justify-content: space-between;  */
    /* width: 100%; */
    max-width: 600px; /* 可以根据实际情况设置一个最大宽度 */
    /* margin: 0 auto;  */
}

.title li{
    position: relative;
    list-style:none;
    /* background-color:rgb(44, 52, 67); */
    /* padding: 10px; */
} 

.title.active{
    background-color: #ccc;
} 

.title li a{
    /* color: #000; */
    font-family: Arial, "Microsoft Yahe", "微软雅黑";
    font-weight: 700;
    font-size: large;
    padding: 0.5em;
    height: 2.5em;
    width: 10em;
    line-height:2.5em;
    text-align: center;
    

    text-decoration: none;
} 

/* .collage a:hover{
    position: absolute;
    top: -3em;
    background-image:url(/img/robomaset-logo.png) ;
} */

.related-content{
    text-align: center;
    height: 12em;
}


.tab-link{
    color:#fff;
    display: inline-block;
    /* background-color: #fff; */
    cursor: pointer;
    padding-bottom: 10px;
    border: none;
    outline: none;
    text-decoration: none;
}
.tab-link.active {
    background-color: #fff;
    color:rgb(44, 52, 67) ;
  }

.tab-content {
    display: none;
    padding: 30px;
    /* display: flex; */
    /* justify-items: center; */
    /* background-color: #f0f0f0; */
}

.tab-content.active {
    display: block; 
}

.engineer{
    height: 9em;
}

.agilex{
    height: 9em;
}


._footer{
   background-color: #212121; 
   text-align: center;
}

.footer-nav img{
    display: inline-block;
    margin: 0 auto;
    padding: 3em;
}

.dgut{
    height: 174px;

}

.wechat{
    display: inline-block;
    position: relative;
}



 .flip-card {
    background-color: t ransparent;
    width: 270px;
    height: 270px;
    perspective: 1000px;
    font-family: sans-serif;
}

 .flip-card img{
    width: 174px;
    height: 174px;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content:left; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid coral;
    border-radius: 1rem; */
}

.flip-card-front {
    /* background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
        rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral; */
}

.flip-card-back {
    /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
        bisque 40%, rgb(255, 185, 160) 78%);
    color: white; */
    transform: rotateY(180deg);
}

.bilibili{
    display: inline-block;
}